@use "./variables.scss" as var;
@use "./reusables.scss" as reuse;

.container {
    width: 100vw;
    // height: 100vh;
    // position: fixed;
    // background: none;
    // top: 0;
    border: 20px solid #000;
    .box {
        background-color: var.$white;
        // border: 1px solid #000;
        border-radius: var.$space-24px var.$space-24px 0 0;
        position: fixed;
        bottom: 0;
        left: 0%;
        right: 0px;
        margin: 0 auto;
        // width: 380px;
        // width: 90%;
        width: 100%;
        height: 72px;
        padding: var.$space-16px var.$space-24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media screen and (min-width: 500px) {
            width: 500px;
        }
        .links {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: var.$space-12px;
            color: var.$l1-Grey;
            &:hover, &:focus {
                color: var.$mainOrange;
            }
            svg {
                color: var.$d2-Grey;
                width: var.$space-16px + 4;
                height: var.$space-16px + 4;
            }
        }
    }
}
