@use "./variables.scss" as var;
@use "./reusables.scss" as reuse;

.parent {
    margin: 0px var.$space-64px;
    padding-bottom: var.$space-128px;
    h2 {
        @include reuse.h2();
    }
    .filter {
        position: relative;
        margin-left: auto;
        .filterBox {
            display: flex;
            align-items: center;
            gap: var.$space-4px;
            padding: var.$space-12px var.$space-24px;
            background-color: lighten($color: var.$l3-Grey, $amount: 13%);
            width: fit-content;
            border-radius: var.$space-12px;
            margin-left: auto;
            cursor: pointer;
            &:hover {
                color: var.$mainOrange;
            }
        }
        .dropdownBox {
            position: absolute;
            top: 44px;
            right: 0;
            z-index: 1;
            opacity: 1;
            padding: var.$space-16px;
            background-color: var.$white;
            display: flex;
            flex-direction: column;
            gap: var.$space-4px;
            border-radius: var.$space-16px;
            animation: slideIn 400ms cubic-bezier(1,0,0,1.2);
            @keyframes slideIn {
                0% {
                    top: 0px;
                    opacity: 0;
                }
            }
            p {
            padding: var.$space-4px var.$space-16px;
            text-align: center;
            border-radius: var.$space-8px;
            cursor: pointer;
            &:hover {
                background-color: lighten($color: var.$l3-Grey, $amount: 13%);
                color: var.$mainOrange;
            }
            }
        }
    }
    .galleryBox {
        margin-top: var.$space-64px;
        // border: 1px solid;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: var.$space-16px;
    }
    .galleryItem {
        border-radius: var.$space-16px;
        overflow: hidden;
        display: inline-flex;
        position: relative;
        img {
            scale: 1.3;
        }
        &::after {
            background-color: rgba($color: #000000, $alpha: 1);
            position: absolute;
            inset: 0px;
            width: 100%;
            height: 100%;
            content: "";
            opacity: 0.4;
        }
        &:hover {
            img {
                scale: 1;
            }
            &::after {
                opacity: 0;
            }
        }
    }
}

.mParent {
    @extend .parent;
    margin: 0 var.$space-24px;
    max-width: 500px;
    @media screen and (min-width: 500px) {
        margin: 0 auto;
    }
    
    .mGalleryBox{
        display: flex;
        flex-direction: column;
        gap: var.$space-16px;
        margin-top: var.$space-24px;
    }
    .galleryItem {
        grid-area: span 1;
        border-radius: var.$space-32px;
    }
}
