@use "./variables.scss" as var;
@use "./reusables.scss" as reuse;

.parent {
    margin: 0px var.$space-64px;
    padding-bottom: var.$space-128px;
    h2 {
        @include reuse.h2();
    }
    .galleryBox {
        margin-top: var.$space-64px;
        // border: 1px solid;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: var.$space-16px;
    }
    .galleryItem {
        border-radius: var.$space-16px;
        overflow: hidden;
        display: inline-flex;
        position: relative;
        img {
            scale: 1.3;
        }
        &::after {
            background-color: rgba($color: #000000, $alpha: 1);
            position: absolute;
            inset: 0px;
            width: 100%;
            height: 100%;
            content: '';
            opacity: 0.4;
        }
        &:hover {
            img {
                scale: 1;
            }
            &::after {
                opacity: 0;
            }
        }
    }
}