@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

$white: #ffffff;
$dark: #111111;
$mainOrange: #f58634;
$l1-Orange: #f79a56;
$l2-Orange: #fac299;
$l3-Orange: #fde7d6;
$d1-Orange: #a35923;
$d1-Orange: #522d11;
$mainGrey: #373435;
$l1-Grey: #585657;
$l2-Grey: #9b999a;
$l3-Grey: #d7d6d7;
$d1-Grey: #252323;
$d2-Grey: #121112;

//Region start - Space
$space-4px: 4px;
$space-8px: 8px;
$space-12px: 12px;
$space-16px: 16px;
$space-20px: 20px;
$space-24px: 24px;
$space-32px: 32px;
$space-40px: 40px;
$space-48px: 48px;
$space-56px: 56px;
$space-64px: 64px;
$space-72px: 72px;
$space-80px: 80px;
$space-88px: 88px;
$space-96px: 96px;
$space-120px: 120px;
$space-128px: 128px;
$space-256px: 256px;
//endRegion

