@use "./variables.scss" as var;
@use "./reusables.scss" as reuse;

.wParent {
//   position: fixed;
//   width: 100vw;
//   height: 100vh;
//   border: 4px solid #fff;
//   top: 0;
//   left: 0;
  .whatsappIcon {
    position: fixed;
    bottom: 5%;
    right: 3%;
  }
}
